/*index.html*/
.title{
    font-family: "Times New Roman", sans-serif;
    text-align: center;
    background-color: blue;
    color: white;

}

/*cochinita-pibil.html*/
.h1{
    font-family: "Times New Roman", sans-serif;
    background-color: darkred;
    color: whitesmoke;
}